//Colores
$colorPrimarioOscuro: #1976d2;
$colorPrimario: #2196f3;
$colorPrimarioClaro: #bbdefb;
$colorAcentuacion: #009688;
$colorDivision: #bdbdbd;

$colorNegro: #000;
$colorBlanco: #fff;
//ColorFuentes
$colorTextoPrimarioClaro: #ffffff;
$colorTextoPrimario: #212121;
$colorTextoSecundario: #757575;


//Fuentes
$fuentePrimaria: 'Poppins', sans-serif;
$fuenteSecundaria: 'Nunito', sans-serif;
